@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Darker Grotesque";
  src: url("/fonts/DarkerGrotesque-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Specifies the range of weight the font supports */
}

@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/public/fonts/FOT-Rodin\ Pro\ L.otf") format("opentype");
  font-style: normal;
  font-weight: 300; /* Specifies the range of weight the font supports */
}

@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/public/fonts/FOT-Rodin\ Pro\ M.otf") format("opentype");
  font-style: normal;
  font-weight: 500; /* Specifies the range of weight the font supports */
}

@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/public/fonts/FOT-Rodin\ Pro\ DB.otf") format("opentype");
  font-style: normal;
  font-weight: 600; /* Specifies the range of weight the font supports */
}

@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/public/fonts/FOT-Rodin\ Pro\ EB.otf") format("opentype");
  font-style: normal;
  font-weight: 800; /* Specifies the range of weight the font supports */
}
@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/public/fonts/FOT-Rodin\ Pro\ UB.otf") format("opentype");
  font-style: normal;
  font-weight: 900; /* Specifies the range of weight the font supports */
}

html,
body,
#root,
#root > div {
  height: 100%;
}

html {
  --Nier-Main-Title-Color: #49463e;
  --Nier-Text-Shadow: rgba(114, 112, 102, 0.64);
  --Nier-Text-Shadow-Secondary: #535144;
  --Nier-Header-Main-Color: #b9b5a3;
  --Nier-Header-Secondary-Color: #49463e;
  --Nier-Background-Main-Color: #cdc8b0;
  --Nier-Background-Secondary-Color: #3f352f;
  --Nier-Grid-Color: rgba(150, 147, 132, 0.1);
  --Nier-Background-Shape-Color: #6a6556;
  --Nier-Alert: #cd664d;
  --transition-color: 0.5s;
  --rotation-radius: 50px;
}

.dark {
  --Nier-Main-Title-Color: #49463e;
  --Nier-Text-Shadow: #8d8875;
  --Nier-Header-Main-Color: #49463e;
  --Nier-Header-Secondary-Color: #9e9986;
  --Nier-Background-Main-Color: #57544a;
  --Nier-Grid-Color: rgba(168, 156, 127, 0.1);
}

svg {
  stroke: currentColor;
}

.nier-title {
  @apply font-medium font-nier-header uppercase tracking-[2px] drop-shadow-[4px_4px_0_var(--Nier-Text-Shadow)];
}

.header-widening-bar-small {
  @apply bg-primary-light dark:bg-primary-dark w-[50%] h-[2px] opacity-0 transition-all ease-in-out duration-300  group-hover:w-[100%] group-hover:opacity-100;
}

.tv-screen-filter {
  @apply fixed top-0 left-0 w-full h-full bg-tv-screen-filter dark:bg-tv-screen-filter-dark z-50 pointer-events-none;
}

.nier-dropshadow {
  @apply drop-shadow-[10px_10px_0_var(--Nier-Text-Shadow)];
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0ms;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}
